.container {
	align-items: center;
	background: none;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	width: 100vw;
}

.container .card {
	background-color: #fff;
	box-shadow: 0 20px 10px rgba(0,0,0,.3);
	cursor: default;
	height: 500px;
	position: relative;
	width: 400px;
}

.container .card .content {
	box-sizing: border-box;
	font-size: .9em;
	padding: 20px;
	width: 400px;
}

.container .card .content a {
	border: 2px solid #262626;
	color: #262626;
	display: inline-block;
	font-weight: 600;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
}

.container .card .slider {
	align-items: flex-start;
	background: none;
	display: flex;
	height: 350px;
	justify-content: center;
	padding: 30px 5px;
	position: relative;
	width: 100%;
}

.container .card .slider img {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.container .card .slider h2 {
	color: #fff;
	font-size: 2em;
	text-align: center;
	z-index: 10;
}

.sections {
	padding: 25px 50px;
	position: relative;
}

.sections:last-child { padding-bottom: 80px; }

.sections:last-child::after {
	background-color: blue;
	clip-path: polygon(100% 20px, 100% 100%, 20px 100%);
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.sections h2 {
	border-bottom: thin solid #ccc;
	font-size: 2em;
	margin-bottom: 20px;
}

.sections .content-games {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

.sections .content-games .card {
	border-radius: 5px;
	box-shadow: 0 10px 5px rgba(0,0,0,.3);
	display: inline-block;
	height: 350px;
	margin: 0 10px;
	position: relative;
	width: 280px;
}

.sections .content-games .card img {
	border-radius: 5px;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.sections .content-games .card .description {
	--altura: calc(1.3em + 20px);
	background-color: #fff;
	border-radius: 3px 3px 0 0;
	cursor: default;
	display: inline-block;
	height: var(--altura);
	left: 50%;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	top: calc(350px - var(--altura));
	transform: translateX(-50%);
	transition: .5s;
	width: 260px;
}

.sections .content-games .card .description:hover {
	height: 340px;
	top: 10px;
}

.sections .content-games .card .description h3 {
	font-size: 1.3em;
	padding-bottom: 10px;
	text-align: center;
}

.sections .content-games .card .description a {
	border: thin solid #262626;
	color: #262626;
	display: inline-block;
	margin-top: 20px;
	padding: 5px 10px;
	text-decoration: none;
}

.swiper-wrapper { padding-bottom: 50px; }
.swiper-slide { width: 400px; }

/*Responsive*/
@media screen and (max-width:768px) {

	.card {
		height: 400px;
		width: 300px;
	}

	.card .content {
		font-size: .9em;
		padding: 15px;
		width: 300px;
	}

	.card .content a {
		font-weight: 600;
		margin: 10px 0 0;
		padding: 5px 10px;
	}

	.card .slider {
		height: 250px;
		padding: 20px 5px;
	}

	.card .slider h2 { font-size: 1.5em; }
	.swiper-wrapper { padding-bottom: 100px; }
	.swiper-slide { width: 300px; }
}

@media screen and (min-width:480px) {}