@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

body { background-color: rgb(200,200,200); }

::-webkit-scrollbar {
  background: none;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(0deg, red, blue);
	border-radius: 4px;
}

::-webkit-scrollbar-track { background: none; }

* {
	border: 0;
	font-family: 'Squada One', serif;
	margin: 0;
	padding: 0;
}

.loading { background-color: rgb(200,200,200); }

#control, .salir, input, #enviar {
	background-color: blue;
	border: 3px solid #ccc;
	border-radius: 25px;
	box-shadow: 0 2px 5px #fff inset,
				0 -2px 6px #000 inset;
	cursor: pointer;
	display: block;
	color: #fff;
	font-size: 2em;
	height: 50px;
	margin: 10px 0;
	outline: none;
	position: relative;
	transition: .3s;
}

#control, .salir, #enviar {
	align-items: center;
	display: flex;
	font-size: 24px;
	justify-content: center;
	padding: 0;
	width: 50px;
}

#control:after, #enviar:after {
	background: none;
	border-radius: 25px;
	box-shadow: 0 2px 5px #888;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#control.click, #enviar.click { box-shadow: 0 2px 10px #000 inset; }

#control.click:after, #enviar:after { box-shadow: none; }

.content {
	background: none;
	box-sizing: border-box;
	display: inline-block;
	height: 100%;
	padding-top: 75px;
	position: fixed;
	width: 100%;
}

.content > img {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.content h1 {
	color: rgba(0,0,0,.6);
	font-size: 10vw;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 0;
}

#tablero {
	align-items: center;
	background: none;
	display: grid;
	grid-gap: 10px;
	justify-content: center;
	overflow-y: auto;
	padding: 5px;
	position: relative;
	transition: .3s;
}

.carta, .carta .fa, .carta .back {
	border-radius: 2px;
	box-sizing: border-box;
	display: inline-block;
}

.carta .fa, .back {
  	backface-visibility: hidden;
  	left: 0;
  	position: absolute;
  	top: 0;
}

.carta .fa {
	align-items: center;
	background-color: rgb(245,245,245);
	box-shadow: 0 5px 3px #000,
				0 5px 6px #000,
				0 -2px 5px #000 inset;
	color: blue;
	display: flex;
	justify-content: center;
	text-align: center;
	text-shadow: 0 8px 5px #888,
				 0 10px 15px #ccc;
  	transform: rotateY(180deg);
  	transition: all 0.3s linear;
  	z-index: 2;
  	-webkit-transition: all 0.3s linear;
}

.back {
	background: url(../../../assets/logoDesignsDiaz.png), rgb(100,100,100);
	background-blend-mode: screen;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	box-shadow: 0 5px 3px #000,
				0 5px 6px #000,
				0 2px 5px #fff inset;
	transition: all 0.3s linear;
  	transform: rotateY(0deg);
  	z-index: 0;
  	-webkit-transition: all 0.3s linear;
}

.carta {
	cursor: pointer;
	position: relative;
	z-index: 100;
}

.carta.activa .fa { transform: rotateY(360deg); }

.carta.activa .back { transform: rotateY(180deg); }

.controles {
	background: linear-gradient(125deg, blue, red);
	box-shadow: 0 0 10px 1px #000;
	box-sizing: border-box;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 50px 200px 50px auto;
	height: 70px;
	left: 0;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.salir {
	background-color: red;
	box-sizing: border-box;
	text-decoration: none;
}

.select-tablero {
	display: inline-block;
	height: 50px;
	list-style: none;
	margin: 0;
	margin-top: 10px;
	overflow: hidden;
	padding: 0;
	transition: height .3s ease;
}

.select-tablero:hover { height: 270px; }

.select-tablero li {
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	height: 50px;
	width: 100%;
}

.select-tablero li:hover { box-shadow: 0 0 10px #000; }

.select-tablero li img {
	height: 100%;
	width: 100%;
}

#pop-up-mensaje, #pop-up-close {
	align-items: center;
	background-color: blue;
	border: 3px solid #ccc;
	border-radius: 25px;
	box-shadow: 0 2px 5px #fff inset,
				0 -2px 6px #000 inset;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	font-size: 2em;
	height: 100px;
	padding: 0 100px;
	position: relative;
	text-align: center;
}

#pop-up-fondo {
	align-items: center;
	background-color: rgba(0,0,0,.7);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -1;
	transition: .3s;
}

#pop-up-close {
	background-color: red;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1em;
	height: 50px;
	justify-content: center;
	padding: 0;
	position: absolute;
	right: -20px;
	top: -20px;
	width: 50px;
}

form {
	align-items: center;
	display: flex;
	height: 70px;
}

form input[type=number] {
	background-color: #fff;
	box-shadow: 0 2px 10px #000 inset;
	color: blue;
	height: 40px;
	margin-right: 5px;
	text-align: center;
	width: 140px;
}

.mensaje {
	align-items: center;
	color: #fff;
	display: flex;
	justify-content: center;
	margin: 0;
	margin-top: 10px;
	padding: 10px;
	width: 100%;
}

@media screen and (max-width: 480px) {
	.controles {
		grid-gap: 10px;
		grid-template-columns: 40px 100px 40px;
		height: 50px;
		justify-content: center;
		padding: 0 5px;
		top: 100%;
		transform: translateY(-100%);
	}

	#control, .salir, input, #enviar {
		border: 1.5px solid #ccc;
		border-radius: 20px;
		box-shadow: 0 2px 5px #fff inset,
					0 -2px 6px #000 inset;
		font-size: 1em;
		height: 40px;
		margin: 5px 0;
	}

	#control, .salir, #enviar {
		font-size: 18px;
		width: 40px;
	}

	#control:after, #enviar:after {
		border-radius: 20px;
		box-shadow: 0 2px 5px #888;
	}

	#tablero {
		grid-gap: 5px;
		height: 100%;
	}

	.content {
		padding-bottom: 65px;
		padding-top: 0;
	}

	.select-tablero {
		display: none;
		height: 40px;
		margin-top: 5px;
	}

	.select-tablero:hover { height: 220px; }

	.select-tablero li { height: 40px; }

	form {
		align-items: center;
		display: flex;
		height: 50px;
	}

	form input[type=number] {
		background-color: #fff;
		box-shadow: 0 2px 10px #000 inset;
		color: blue;
		height: 35px;
		margin-right: 5px;
		text-align: center;
		width: 50px;
	}
}