.container {
	align-items: center;
	background: none;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	width: 100vw;
}

.card {
	background-color: #fff;
	box-shadow: 0 20px 10px rgba(0,0,0,.3);
	cursor: default;
	height: 500px;
	position: relative;
	width: 400px;
}

.card .content {
	box-sizing: border-box;
	font-size: .9em;
	padding: 20px;
	width: 400px;
}

.card .content a {
	border: 2px solid #262626;
	color: #262626;
	display: inline-block;
	font-weight: 600;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
}

.card .slider {
	align-items: flex-start;
	background-color: #000;
	display: flex;
	height: 350px;
	justify-content: center;
	padding: 30px 5px;
	position: relative;
	width: 100%;
}

.card .slider h2 {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
}

.swiper-wrapper { padding-bottom: 100px; }
.swiper-slide { width: 400px; }